@model NezamEquipment.Web.Areas.Admin.Features.Employees.AdminNezamEmployeEditViewModel
@{
    ViewBag.PageTitle = "تغییر رمز عبور";
}

<div class="col-md-12">
    @Html.PageTitle()
</div>
<div class="col-md-12" id="form">
    @using (Ajax.BeginForm("PasswordCahnge", AjaxOptionsExtension.Get(url: Url.Action(MVC.Admin.Employees.PasswordCahnge()))))
    {
        Html.RenderPartial("_FormPass", Model.PartialForm);
    }
</div>

@section InBodyTag
{
    <script type="text/javascript">
        GoToPageOnSuccessUrl = '@Url.Action(MVC.Admin.Employees.Details(Model.PartialForm.EmployeesDto.Id))';
    </script>
}
