@{
    ViewBag.PageTitle = "ویرایش نقش";
}

<div>
    <div class="col-sm-12">
        <div class="page-header title">
            <h3>@ViewBag.PageTitle</h3>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="well well-white well-shadow">
            <div class="alert alert-warning margin-0">
                <b>امکان ویرایش نقش پیش فرض وجود ندارد.</b>
                <div>برای تغییر نام این نقش باید آن را در فایل web.config ویرایش کنید.</div>
            </div>
        </div>
    </div>
</div>