<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Captcha" version="4.4.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MvcPaging" version="2.1.13" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.112.2" targetFramework="net46" />
  <package id="T4MVCExtensions" version="4.2.4" targetFramework="net46" />
</packages>