@{
    ViewBag.PageTitle = "خطا";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="container tahoma">
    <div class="hidden-sm hidden-xs" style="height: 80px;"></div>
    <div class="hidden-lg hidden-md" style="height: 30px;"></div>
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-warning text-center">
            <strong>خطایی در پردازش اطلاعات رخ داد.</strong>
        </div>
    </div>
</div>
