
<div class="col-md-12">
    <div class="col-md-7 col-md-offset-2 display-none" id="loading">
        <div class="row">
            <i class="fa fa-refresh fa-spin"></i>
            <span>لطفا صبر کنید</span>
        </div>
        <br />
    </div>
</div>
